<!-- Component View -->
<!-- BEGIN NETDATA INFO  -->
    <div>
        <h3 style='margin-left: 20px;'> Performance Metrics </h3>
    </div>
    <div>
        <div style="width: 100%; align: center; display: inline-block;">
            <!-- Load -->
            <div style="width: 100%; height: 24vh; text-align: center; display: inline-block;">
                <div class = 'netdata-title'>
                    <b>Load (% total GPU/Memory Utilization)</b>
                </div>
                <div style="width: 100%; height:  180px; text-align: center; display: inline-block;">
                    <div data-netdata="nv.load"></div>
                </div>
            </div>
            <!-- Memory -->
            <div style="width: 100%; height: 24vh; text-align: center; display: inline-block;">
                <div style="width: 100%; height: 15px; text-align: center; display: inline-block;">
                    <b>Memory Usage (MB)</b>
                </div>
                <div style="width: 100%; height:  180px; text-align: center; display: inline-block;">
                    <div data-netdata="nv.memory"></div>
                </div>
            </div>
            <!-- Temperature --->
            <div style="width: 100%; height: 24vh; text-align: center; display: inline-block;">
                <div style="width: 100%; height: 15px; text-align: center; display: inline-block;">
                    <b>Temperature</b>
                </div>
                <div style="width: 100%; height:  180px; text-align: center; display: inline-block;">
                    <div data-netdata="nv.temperature"></div>
                </div>
            </div>

        </div>
    </div>

<!-- END NETDATA INFO -->
