<!DOCTYPE html>
<html lang="en">
<head>
    <!--TODO: Extract custom CSS to stylesheet -->
    <title>Dellve Dash: About</title>
    <meta name="author" content="Abigail Johnson">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website"/>
    <link rel="shortcut icon" href="../static/img/bodybuilder-favicon.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="../static/css/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/animate.css">
    <link type="text/css" rel="stylesheet" href="../static/css/main.css">
    <link type="text/css" rel="stylesheet" href="../static/css/style-responsive.css">
</head>
<style>
    body {
        background-color: #272b30;
        overflow: hidden;
    }

</style>
<body>
    {% include 'templates/components/nav-header.html' %}
    <!-- BEGIN PAGE WRAPPER -->
    <div>
        {% include 'templates/components/sidebar.html' %}
        <div class="row" style="padding-top: 50px">
            <div class="col-lg-12 col-lg-offset-2">
                <h1>About Dellve</h1>
                <h3>Dellve Deep is designed to quantify the performance of a GPU-enabled High Performance Computing server. The main tools that is packaged <br>
                    with Dellve are benchmarks and stress tools that uses operations from Nvidia’s cuDNN library.<br><br>
                    Training full DNNs for benchmarking is not feasible due to the wide range of DNN applications and architectures. Due to this, we target <br>
                    low level DNN operations, and we leverage cuDNN due to its usage in popular frameworks such as Caffe, TensorFlow, and Torch.
                </h3>
                <br>
                <br>
                <h2>Benchmarks vs Stress Tools</h2>
                <h3>Benchmarks are meant to compare the performance of different GPUs, while stress tools are designed to determine the stability <br>
                    of the GPU subsystem.<br><br>
                    To achieve this, benchmarks have fixed problem sizes that keep the comparisons fair between benchmark runs across different GPUs. <br>
                    On the other hand, stress tools have dynamic problem sizes generated to match the user-specified memory allocation. Once memory <br>
                    is allocated, the stress tools will push the GPUs to 100% core utilization for a configurable amount of time. <br><br>
                </h3>
                <br>
                <br>
                <h2>CuDNN Operations</h2>
                <h3>The current implementation of Dellve utilizes four fundamental operations for the purpose of running benchmarks and stress tools. <br>
                    We also include both forward and backward propagations for each operation.<br><br>
                    <div style="font-weight: bold; margin-left: 15px;">
                    <ul>
                    <li>Activation</li>
                    <li>Convolution</li>
                    <li>Pooling</li>
                    <li>Softmax</li>
                    </ul>
                    </div>
                </h3>


            </div>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/dellve"
                           class="btn btn-default btn-lg" target='_blank'>
                            <i class="fa fa-github fa-fw"></i>
                            <span class="network-name">Github</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE WRAPPER-->
</body>
</html>
