<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dellve Dash: Portal Home</title>
    <meta name="author" content="Abigail Johnson">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website"/>
    <link rel="shortcut icon" href="../static/img/bodybuilder-favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="../static/css/grayscale.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body style = 'background-color: #1E1E1E; overflow: hidden;' id="portal-home" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li>
                        <a class="page-scroll-home" href="#portal-home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body" style='background-color: #1E1E1E;'>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <br><br><br>
                        <img style="max-width:400px; margin-top: 0px; text: 300px"
                            src='../static/img/dellve_deep_logo.png'><br>

                        <h1 style='font-family:Helvetica Neue; font-weight:180px;text-transform:none'>GPU Stress and Benchmark Tool Suite</h1>

                        <!-- BEGIN CONFIGURATION PANEL -->
                            <div class="panel panel-grey" style='width: 50%;position: relative; right: 25%; left:25%; border-color: #3C3C3C'>
                                <div class="panel-heading" > Portal Home </div>
                                <div class="panel-body pan"  style='background-color: #272A2F'>
                                    <form id="form" action="/system-overview" >
                                        <div class="form-body pal">
                                            <div class="form-group">
                                                <div class='row' style='padding: 14px'>
                                                    <input id="server" name='server' type="text" placeholder="Dellve Enabled Server IP" class="form-control">
                                                    </input>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input id="netdata_port" type="text" name='netdata_port' placeholder="Netdata Port" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input id="dellve_port" type="text" name='dellve_port' placeholder="Dellve Port" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="submit"  class="btn btn-primary" value='Connect'></input>
                                            </div>
                                        </div>
                                    </form>
                                    <script>
                                    $('#form').submit(function() {
                                        if ($.trim($("#server").val()) === "" || $.trim($("#dellve_port").val()) === ""|| $.trim($("#netdata_port").val()) === "") {
                                            alert('Please enter a server configuration');
                                            return false;
                                        }
                                    });
                                    </script>
                                </div>
                            </div>
                        <!-- END CONFIGURATION PANEL -->
                        <br><hr>
                        <p style='font-size: 17px'>
                            To access the Dellve Dashboard,
                            enter the IP address of a Dellve enabled
                            server. For installation details,
                            visit our repository on &nbsp
                            <a href="https://github.com/dellve" class="btn btn-default btn-sm" target='_blank'>
                                <i class="fa fa-github"></i>
                                <span class="network-name">Github</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- TODO: About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h2 class="text-center">About Dellve Benchmark</h2>
                <p class="about-content" style="margin-left: 10%"> Dellve Deep is a specialized performance benchmark for general purpose graphics processing unit subsystems in high performance computing servers.
                    <br><br> In the construction of our project, we leverage a number of different tools and technologies, namely the Python and Javascript programming languages,
                    the cuDNN Deep Neural Net (DNN) library, and open source projects such as Netdata, Click, and Falcon.
                </p>
                <ul class="banner-social-buttons text-center">
                        <a href="https://github.com/dellve"
                        class="btn btn-default btn-lg" target='_blank'>
                            <i class="fa fa-github fa-fw"></i>
                            <span class="network-name">Github</span>
                        </a>
                </ul>
            </div>
        </div>
    </section>
    <!-- Map Section -->
    <div id="map"></div>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Dellve Deep 2017</p>
        </div>
    </footer>
    <!-- Load scripts ( at bottom for faster page load ) -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
</body>
</html>
