<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dellve Dash: Stress Tools</title>
    <meta name="author" content="Abigail Johnson">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website"/>
    <link rel="shortcut icon" href="../static/img/bodybuilder-favicon.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/main.css">
    <link type="text/css" rel="stylesheet" href="../static/css/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="../static/css/benchmark.css">
    <link type="text/css" rel="stylesheet" href="../static/css/jsoneditor.min.css">
    <!--<link href="../static/css/darkConfigEditor.css" rel="stylesheet" type="text/css"> -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script src='../static/js/jsoneditor.min.js'></script>
</head>
<!--   1. Select a theme. (this section has to appear before loading dashboard.js) -->
<script>var netdataTheme = 'slate'; //var netdataTheme = 'default'; </script>
<!--   2.  Load dashboard.js -->
<script type="text/javascript" src="http://{{ server }}:{{ netdata_port }}/dashboard.js"></script>
<!--   3.  Set netdata config options
<script type="text/javascript" src="../static/js/netdata-config.js"></script> -->
<body style='overflow: hidden;'>
    {% include 'templates/components/nav-header.html' %}
    <!-- BEGIN PAGE WRAPPER -->
    <div>
        {% include 'templates/components/sidebar.html' %}
        <script> document.getElementById('tool-page').className = 'active';</script>
        <div style='margin-left: 280px;'><br>
            {% include 'templates/components/tool-control.html' %}
            <div class='row'>
                <div class='col-md-6'>
                    {% include 'templates/components/nvidia-charts.html' %}
                </div>
                <div class='col-md-6' >
                    {% include 'templates/components/run-detail.html' %}
                </div>

            </div>
        </div>
        <!--CORE JAVASCRIPT-->
        <script src="../static/js/bootstrap.min.js"></script>
        <!-- Control for start/stop, progress polling, config editor, run detail logging -->
        <script src="../static/js/tool-listener-control.js"></script>
        <script>
        // Setup Poll handler for tool progress updates and activate long poll
        $request = new PollRequest('{{server}}', '{{dellve_port}}');
        $request.activatePoll();
        </script>
    </div>
    <!-- END PAGE WRAPPER -->
</body>
</html>
