.DS_Store
__pycache__/
htmlcov/
htmlcov
.eggs/
.eggs
.cache/*
eggs/
.cache/
build/
dist/
.coverage
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
