<!--
Custom Error Page for:
    - Invalid server config provided
    Def Invalid Config:
        - Missing required params ( dellve_port, netdata_port, server_ip )
        - Given config missing required dependencies
            - dellve api not installed/visable
            - netdata or nvidia pluggin not installed/visable
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>DellVE Dash: Invalid Server</title>
    <meta name="author" content="Abigail Johnson">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website"/>
    <link rel="shortcut icon" href="../static/img/bodybuilder-favicon.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="../static/css/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/main.css">
    <link type="text/css" rel="stylesheet" href="../static/css/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="../static/css/benchmark.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
    <body>
        <!-- TODO: Style -->
        <div align='center'>
            <h3>
                Unprocessable Request: Invalid Server Configuration Provided
            </h3>
            <br><br>
            <hr>
            <h4>
                DellVE Dash could not process the provided server configuration due to one of the following: <br>
                    1. Request missing required config params ( dellve_port, netdata_port, server_ip ) <br>
                    2. Given config params missing required dependencies  <br>
                        - DellVE api not installed/visable <br>
                        - Netdata or nvidia pluggin not installed/visable <br>

                To access DellVE Dash, please enter a valid DellVE server configuration in the
                <a href='/'>Portal Home</a><br>
                For information on how to configure your server to be compatible with DellVE dash, visit the DellVE Dash READEme at
                <a href="https://github.com/dellve/dellve-dash"
                class="btn btn-default btn-lg">
                    <i class="fa fa-github fa-fw"></i>
                    <span class="network-name">Github</span>
                </a>
                <button onclick="window.history.back()"
                   class="btn btn-default btn-lg">
                    <span class="home-page">Portal Home</span>
                </button>
            </h4>
        </div>
    </body>
</html>
