<!-- BEGIN TOP HEADER -->
<div id="header-topbar-option-demo" class="page-header-topbar">
    <nav id="topbar" role="navigation" style="margin-bottom: 0;"
        class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a id="logo" href="/" class="navbar-brand">
                <img style="max-width:100px; margin-top: -5px;"
                    src='../static/img/dell-logo-vector3.png'>
            </a>
        </div>
        <div class="topbar-main">
            <a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
            <ul class="nav navbar navbar-top-links navbar-right mbn">
                <li class="dropdown topbar-user">
                    <a  class="dropdown-toggle">
                        <span class="hidden-xs"> <b>Connected to: </b> &nbsp{{server }}:{{dellve_port}}</span>&nbsp;
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- END TOP HEADER-->
