<!-- Component View -->
<!-- BEGIN SIDEBAR-->
<nav id="sidebar" role="navigation" data-position="right"
    class="navbar-default navbar-static-side" style="min-height: 100%;">
    <div class="sidebar-collapse menu-scroll" >
        <ul id="side-menu" class="nav">
            <div class="clearfix"></div>
            <!-- System Metrics link -->
            <li id='home-page'>
                <a href="/">
                    <i class="fa fa-home">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">Portal Home</span>
                </a>
            </li>
            <!-- System Metrics link -->
            <li id='system-page'>
                <a href="/system-overview?server={{ server }}&netdata_port={{ netdata_port }}&dellve_port={{ dellve_port}}">
                    <i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">System Overview</span>
                </a>
            </li>
            <!-- Benchmarks link -->
            <li id = 'benchmark-page' >
                <a href="/benchmarks?server={{ server }}&netdata_port={{ netdata_port }}&dellve_port={{ dellve_port}}">
                    <i class="fa fa-files-o">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">Benchmarks</span>
                </a>
            </li>
            <!-- About TODO: implement this page -->
            <li id='about-page'>
                <a href="#">
                    <i class="fa fa-info-circle">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">About</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- END SIDEBAR -->
